.full-photo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100px);

  img {
    object-fit: contain;
    max-height: 80%;
    max-width: 80%;
    margin-bottom: 20px;
  }

  button {
    width: 150px;
    height: 60px;
    line-height: 60px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: #800000;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    flex-shrink: 0;
    height: 4rem;
    padding: 0 1.6rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all 0.5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

  button:hover {
    box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
    transition-duration: 0.1s;
  }
}
